:root {
    --color-primary: #212121;
    --color-secondary: #757575;
    --color-accent: #2196f3;
    --color-background: #ffffff;
    --white-accent: #ffffff;
    --secondary-background: #2f303a;
    --black-logo: #000;
    --button-background: #f5f4fa;
    --color-icon: #AFB1B8;
}