.advantages__title {
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.advantages__description {
    color: var(--color-secondary);
    font-size: 14px;
    font-weight: initial;
    line-height: 1.71;
    margin-bottom: 0;
}