.header--line {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
}

.header__nav {
    // height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.header__menu {
    // margin-right: 305px;
    @media (min-width: 768px) {
        display: flex;
        gap: 50px;
        margin-right: 96px;
    }
    
}

.header__contact {
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.header__link {
    display: block;
    position: relative;
    color: var(--color-primary);

    @media (min-width: 768px){
        padding: 32px 0;
    }

    &--—Åurrent::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--color-accent);
        border-radius: 2px;
    }
}

.header__link,
.link__contact {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.link__contact{
    font-size: 12px;
}

.header__list {
    display: none;
    @media (min-width: 768px) {
        display: flex;
    }
}
