.team__description {
    padding: 30px 0;
}

.team__item {
    background-color: var(--color-background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width:768px) {
        flex-basis: calc((100% - 30px)/2);
        margin-bottom: 0;
    }
}

.team__title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.section--background-different {
    background-color: var(--button-background);
}

.title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;

    @media (min-width: 1200px) {
        font-size: 36px;
        margin-bottom: 50px;
    }
}

.text {
    color: var(--color-secondary);
    font-weight: 400;
    margin-bottom: 16px;
}