.primary-button {
    background-color: var(--color-accent);
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    color: var(--white-accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: #188ce8;
        }

    &--form {
        display: block;
        margin: auto;
        // width: 200px;
        }
    
    &--footer {
        padding: 10px 62px 10px 28px;
        width: 195px;
        }
}

.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: inherit;
    cursor: pointer;

    &__icon {
            fill: #000;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &:hover &__icon,
    &:focus &__icon {
            fill: var(--color-accent);
        }
}

.button-container {
    position: relative;
    display: inline-block;
}

.header__burger{
    border: none;
    background-color: inherit;
    width: 40px;
    height: 40px;
    padding-right: 8px;
    @media (min-width: 768px) {
        display: none;
    }

    &:hover, &:focus{
        fill: var(--color-accent);
    }
}