.footer {
    background-color: var(--secondary-background);
    padding: 60px 0;

    &__container {
        align-items: baseline;
    @media (min-width: 1200px) {
        display: flex;
        gap: 94px;
        }
    }

    &__adress {
        text-align: center;
        @media (min-width: 1200px) {
            text-align: start;
        }
    }

    & .link {
        line-height: 1.71;
    }

    &__item{
        font-size: 14px;
        font-weight: 400;
    }

    &__item:not(:last-child) {
        margin-bottom: 12px;
    }

    &-description {
        text-align: center;
        color: var(--white-accent);
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media (min-width: 1200px) {
            text-align: start;
        }
    }

    &__contact{
        @media (max-width: 767px){
            margin-bottom: 60px;
        }
    }
}

.container__adress{
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        gap: 165px;
        margin-bottom: 60px;
        height: 150px;
        gap: 94px;
    }
    @media (min-width: 1200px) {
     margin-bottom: 0;
    }
}