.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner.jpg);
    background-repeat: no-repeat;
    max-width: 480px;
    height: 400px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    background-color: var(--secondary-background);
    padding: 118px 0;
    text-align: center;
    box-sizing: border-box;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner@2x.jpg);
            }

    @media (min-width: 768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner768.jpg);
        max-width: 768px;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner768@2x.jpg);
            }
    }

    @media (min-width: 1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner1200.jpg);
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/banner1200@2x.jpg);
            }
        }

    &__title {
        color: var(--white-accent);
        font-size: 26px;
        line-height: 1.61;
        text-align: center;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        margin: 0 auto 30px;

        @media (min-width: 768px) {
            width: 360px;
        }

        @media (min-width: 1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
        }
    }
}