.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    display: none;
    overflow: auto;

    &.is-open {
        display: block;
    }

    &__close{
        width: 40px;
        height: 40px;
        position: absolute;
        top: 21px;
        right: 25px;
        border: none;
        background-color: inherit;

        &:hover, &:focus{
            fill: var(--color-accent);
        }
    }

    &__container{
        padding: 48px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 796px;
        height: 100%;
    }

}

.mobile-nav{
    &__item:not(:last-child) {
        padding-bottom: 32px;
    }
}

.mobile-nav__link{
    display: block;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primary);

    &:hover, &:focus{
        color: var(--color-accent);
    }
}

.mobile-contact{
    margin-bottom: 64px;

    &__tel{
        display: block;
        font-size: 34px;
        text-decoration: none;
        color: var(--color-accent);
        padding-bottom: 32px;
        font-weight: 500;
    }

    &__mail{
        font-size: 24px;
        text-decoration: none;
        color: var(--color-secondary);
        font-weight: 500;
    }
}

.mobile-social{
    display: flex;
    flex-wrap: wrap;

    &__link{
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.22;
        color: var(--color-accent);
    }

    &__item:not(:last-child){
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
    }

    &__item:not(:first-child) {
         padding-left: 10px;
    }
}