.modal {
    position: absolute;
    background-color: var(--color-background);
    width: 100%;
    max-width: 528px;
    height: 100%;
    max-height: 581px;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &__title {
        text-align: center;
        font-size: 20px;
        line-height: 1.15;
        margin-bottom: 12px;
        }
}

.backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}