body {
    color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--color-background);
    line-height: 1.17;
    letter-spacing: 0.03em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}